<mat-toolbar color="primary">
  <span>Heres what you should tip</span>
</mat-toolbar>
<mat-card>
  <p><strong>Cost of Service:</strong> {{ tipdata.bill | currency }}</p>
  <p><strong>Tip Percentage:</strong> {{ (tipdata.quality * 100) }}%</p>
  <p><strong>Round Up Tip:</strong> {{ tipdata.roundup ? 'Yes' : 'No' }}</p>
  <p><strong>Calculated Tip:</strong> {{ calculatedtip | currency }}</p>
  <p><strong>Total Bill:</strong> {{ total | currency }}</p>
  <button mat-raised-button color="accent" (click)="toInput()">Back to tip calculator</button>
</mat-card>
