<mat-toolbar color="primary">
  <span>Tip Calculator</span>
</mat-toolbar>
<mat-card class="tip-card">
  <form #tipform="ngForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Cost of Service</mat-label>
        <input matInput type="number" [(ngModel)]="tipdata.bill" name="bill" #bill="ngModel" required min="0">
        <mat-error *ngIf="bill.invalid && (bill.dirty || bill.touched)">
          Cost of service is required and must be a positive number
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-label>Quality of Service</mat-label>
      <mat-radio-group aria-label="Select an option" name="quality" [(ngModel)]="tipdata.quality" #quality="ngModel" required>
        <mat-radio-button class="radio-button" [value]="0.15">Okay - 15%</mat-radio-button>
        <mat-radio-button class="radio-button" [value]="0.18">Good - 18%</mat-radio-button>
        <mat-radio-button class="radio-button" [value]="0.20">Excellent - 20%</mat-radio-button>
      </mat-radio-group>

    </div>

    <div class="form-group">
      <mat-checkbox [(ngModel)]="tipdata.roundup" name="roundup">Round Up Tip</mat-checkbox>
    </div>

    <div class="form-group">
      <button mat-raised-button color="primary" type="submit" [disabled]="tipform.invalid">Calculate Tip</button>
    </div>
  </form>
</mat-card>
